body {
  background-color: lightgrey;
}

header {
  background-color: red;
}

h2 {
  font-size: 24px;
}

input {
  background-color: #fffcf7;
}

#sizer {
  width: 1024px;
  margin: 0;
}

h1 {
  padding: 40px;
  font-size: 20px;
}